@font-face {
	font-family: 'Gotham';
	src:url('../fonts/Gotham-Light(1).ttf');
}
@font-face {
	font-family: 'Arial';
	src:url('../fonts/arial.ttf');
}
/*  Index Page */
.bg_home{
	background: url("../images/background.jpg") no-repeat scroll center center / cover ;
    height: 100%;
    width: 100%;
}
.header_area{
	background: rgba(0, 0, 0, 0) url("../images/header_img.jpg") no-repeat scroll center center / cover ;
    height: 100px;
   
    width: 100%;
    z-index: 9999;
}
.nav_area{
    padding-right: 15px;
}
.navbar-toggle {
    background-color: #f80104;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-header {
    position: absolute;
    right: 0;
    top: 0;
}
ul.nav.navbar-nav li {
    position: relative;
    padding: 0 20px;
    line-height: 45px;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    cursor: default;
}
@media (min-width:789px){
	ul.nav.navbar-nav li {
	    position: relative;
	    padding: 0 20px;
	    line-height: 73px;
	    font-size: 14px;
	    font-weight: 700;
	    color: #000000;
	    cursor: default;
	}
}
.contest_btn, .contest_btn:hover {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #000 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 476px;
    cursor: default;
}
.fl { float:left; }
.fr { float:right; }
.clear_both { clear:both; }
.header_content {
	/*height:122px;*/
	position:relative;
}
.container_bg {
	background: #fff none repeat scroll 0 0;
	padding:20px 20px 0;
	
}
@media (min-width:789px){
	.container_bg {
		background: #fff none repeat scroll 0 0;
		padding:20px 20px 30px;
		overflow-y:scroll;
		
	}
}
.video_holder {
	background:#fff;
	padding:15px;
	width:295px;
}
@media (min-width:789px){
	.video_holder {
		background:#fff;
		padding:15px;
		width:655px;
	}
}
.related_vedios {
	margin:0px 0px 0px 15px;
	width:339px;
	position:relative;
}
.related_vedios h2 {
	font-family:Gotham;
	font-weight:normal;
	font-size:18px;
	color:#393939;
	margin:0px 0px 20px 0px;
}
@media (min-width:789px){
	.related_vedios h2 {
		font-family:Gotham;
		font-weight:normal;
		font-size:26px;
		color:#393939;
		margin:0px 0px 20px 0px;
	}
}
.related_vedios h2 b,.video_comment h2 b,.related_photos h2 b{
	color:#f80104;
	font-weight:bold;
}
.related_vedios ul {
	padding:0px;
	margin:0px;
	list-style-type: none;
}
.related_vedios ul li img {
	width:100px;
	height:93px;
	margin:0px 15px 0px 0px;
	box-shadow: 5px 5px 6px #aeaeae;
}
@media (min-width:789px){
	.related_vedios ul li img {
		width:116px;
		height:93px;
		margin:0px 15px 0px 0px;
		box-shadow: 5px 5px 6px #aeaeae;
	}
}
.related_vedios li {
    padding: 0 0 24px;
    position: relative;
}
.image_info {
	width:160px;
}
@media (min-width:789px){
	.image_info {
		width:170px;
	}
}
.image_info h3 {
	font-family: Arial;
	font-weight:normal;
	font-size:14px;
	color:#075eaf;
	margin:0px 0px 0px 0px;
}
.image_info h3 a {
	text-decoration:none;
}
.image_info span {
	position:absolute;
	bottom:20px;
	font-family:Arial;
	font-weight:normal;
	font-size:11px;
	color:#393939;
}
@media (min-width:789px){
	.image_info span {
		position:absolute;
		bottom:20px;
		font-family:Arial;
		font-weight:normal;
		font-size:14px;
		color:#393939;
	}
}
.desc_img{
	height: 244px;
    text-align: center;
    width: 320px;
}
@media (min-width:789px){
	.desc_img{
		height:244px;
		width:206px;
		text-align:unset;
	}
}
.desc_content {
    margin: 0 0 0 10px;
    width: 280px;
}
@media (min-width:789px){
	.desc_content {
	    margin: 0 0 0 27px;
	    width: 775px;
	}
}
.desc_content p{
	font-family:Arial;
	font-weight:normal;
	font-size:12px;
	color:#393939;
	line-height: 2;
	text-align: justify;
}
@media (min-width:789px){
	.desc_content p{
		font-family:Arial;
		font-weight:normal;
		font-size:14px;
		color:#393939;
		line-height: 2;
		text-align: justify;
	}
}
.desc_content h2{
	font-family:Gotham;
	font-weight:normal;
	font-size:14px;
	color:#fff;
	margin: 10 0 20px;
}
@media (min-width:789px){
	.desc_content h2{
		font-family:Gotham;
		font-weight:normal;
		font-size:14px;
		color:#fff;
		margin: 0 0 20px;
	}
}
.desc_content h2 b {
	color:#f80104;
	font-weight:bold;
	font-size:18px;
}
@media (min-width:789px){
	.desc_content h2 b {
		color:#f80104;
		font-weight:bold;
		font-size:25px;
	}
}
.clearfix() {
  
  &:before,
  &:after {
	content: "";
	display:table;
  }
  
  &:after {
	clear: both;
  }
  
}

.transition() {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;  
}
/*******************************************
  = LAYOUT
*******************************************/

* {
  -webit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		 box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}


/*******************************************
  = RATING1
*******************************************/

/* RATING - Form */
.rating-form{
	margin-top: 0px;
}

/* RATING - Form - Group */
.rating-form .form-group {
position: relative;
border: 0;
}

/* RATING - Form - Legend */
.rating-form .form-legend {
	display: none;
	margin: 0;
	padding: 0;
	font-size: 20px; font-size: 2rem;
	/*background: green;*/
}

/* RATING - Form - Item */
.rating-form .form-item {
	bottom: 16px;
    direction: rtl;
    margin: auto;
    position: absolute;
    text-align: center;
    width: 400px;
}
@media (min-width:789px){
	.rating-form .form-item {
		bottom: 16px;
	    direction: rtl;
	    margin: auto;
	    position: absolute;
	    text-align: center;
	    width: 520px;
	}
}
.rating-form .form-legend + .form-item {
	padding-top: 10px;
}

	.rating-form input[type='radio'] {
		position: absolute;
		left: -9999px;
	}

  /* RATING - Form - Label */
  .rating-form label {
	display: inline-block;
	cursor: pointer;
  }

	.rating-form .rating-star {
   display: inline-block;
		position: relative;
	}

.rating-form input[type='radio'] + label:before {
	color: #000;
    content: attr(data-value);
    direction: ltr;
    font-size: 20px;
    opacity: 0;
    position: absolute;
    right: 30px;
    top: 25px;
	.transition();
}

.rating-form input[type='radio']:checked + label:before {
	right: 25px;
	opacity: 1;
}

.rating-form input[type='radio'] + label:after {
	content: "/ 5";
    direction: ltr;
    font-size: 20px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 25px;
	.transition();
}

.rating-form input[type='radio']:checked + label:after {
	/*right: 5px;*/
	opacity: 1;
}

	.rating-form label .fa {
	  font-size: 60px; font-size: 2rem;color: #000;
	  line-height: 60px;
	  .transition();
	}

	.rating-form label .fa-star-o {

	}

	.rating-form label:hover .fa-star-o,
	.rating-form label:focus .fa-star-o,
	.rating-form label:hover ~ label .fa-star-o,
	.rating-form label:focus ~ label .fa-star-o,
	.rating-form input[type='radio']:checked ~ label .fa-star-o {
	  opacity: 0;
	}

	.rating-form label .fa-star {
	  position: absolute;
	  left: 0; top: 0;
	  opacity: 0;
	}

	.rating-form label:hover .fa-star,
	.rating-form label:focus .fa-star,
	.rating-form label:hover ~ label .fa-star,
	.rating-form label:focus ~ label .fa-star,
	.rating-form input[type='radio']:checked ~ label .fa-star {
	  opacity: 1;
	}

	.rating-form input[type='radio']:checked ~ label .fa-star {
	  color: #f80104;
	}

	.rating-form .ir {
	  position: absolute;
	  left: -9999px;
	}

/* RATING - Form - Action */
.rating-form .form-action {
	opacity: 0;
	position: absolute;
	left: 5px; bottom: -40px;
	.transition();
}

.rating-form input[type='radio']:checked ~ .form-action {
  cursor: pointer;
  opacity: 1;
}

.rating-form .btn-reset {
	display: inline-block;
	margin: 0;
	padding: 4px 10px;
	border: 0;
	font-size: 10px; font-size: 1rem;
	background: #fff;
	color: #333;
	cursor: auto;
	border-radius: 5px;
	outline: 0;
	.transition();
}

   .rating-form .btn-reset:hover,
   .rating-form .btn-reset:focus {
	 background: #ff8e59;
   }

   .rating-form input[type='radio']:checked ~ .form-action .btn-reset {
	 cursor: pointer;
   }


/* RATING - Form - Output */
.rating-form .form-output {
	display: none;
	position: absolute;
	right: 15px; bottom: -45px;
	font-size: 30px; font-size: 3rem;
	opacity: 0;
	.transition();
}

.no-js .rating-form .form-output {
	right: 5px;
	opacity: 1;
}

.rating-form input[type='radio']:checked ~ .form-output {
	right: 5px;
	opacity: 1;
}
/* END */

/*******************************************
  = RATING2
*******************************************/

/* RATING - Form */
.rating-avg{
	margin-top: 0px;
}

/* RATING - Form - Group */
.rating-avg .form-group {
position: relative;
border: 0;
}

/* RATING - Form - Legend */
.rating-avg .form-legend-avg {
	display: none;
	margin: 0;
	padding: 0;
	font-size: 20px; font-size: 2rem;
	/*background: green;*/
}

/* RATING - Form - Item */
.rating-avg .form-item-avg {
	bottom: 12px;
    direction: rtl;
    margin: auto;
    position: absolute;
    text-align: center;
    width: 400px;
}
@media (min-width:789px){
	.rating-avg .form-item-avg {
		bottom: 12px;
	    direction: rtl;
	    margin: auto;
	    position: absolute;
	    text-align: center;
	    width: 520px;
	}
}
.rating-avg .form-legend-avg + .form-item-avg {
	padding-top: 10px;
}

	.rating-avg input[type='radio'] {
		position: absolute;
		left: -9999px;
	}

  /* RATING - Form - Label */
  .rating-avg label {
	display: inline-block;
	cursor: pointer;
  }

	.rating-avg .rating-star {
   display: inline-block;
		position: relative;
	}

.rating-avg input[type='radio'] + label:before {
	color: #000;
    content: attr(data-value);
    direction: ltr;
    font-size: 20px;
    opacity: 0;
    position: absolute;
    right: 30px;
    top: 25px;
	.transition();
}

.rating-avg input[type='radio']:checked + label:before {
	right: 25px;
	opacity: 1;
}

.rating-avg input[type='radio'] + label:after {
	content: "/ 5";
    direction: ltr;
    font-size: 20px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 25px;
	.transition();
}

.rating-avg input[type='radio']:checked + label:after {
	/*right: 5px;*/
	opacity: 1;
}

	.rating-avg label .fa {
	  font-size: 60px; font-size: 2rem;color: #000;
	  line-height: 60px;
	  .transition();
	}

	.rating-avg label .fa-star-o {

	}

	.rating-avg label:hover .fa-star-o,
	.rating-avg label:focus .fa-star-o,
	.rating-avg label:hover ~ label .fa-star-o,
	.rating-avg label:focus ~ label .fa-star-o,
	.rating-avg input[type='radio']:checked ~ label .fa-star-o {
	  opacity: 0;
	}

	.rating-avg label .fa-star {
	  position: absolute;
	  left: 0; top: 0;
	  opacity: 0;
	}

	.rating-avg label:hover .fa-star,
	.rating-avg label:focus .fa-star,
	.rating-avg label:hover ~ label .fa-star,
	.rating-avg label:focus ~ label .fa-star,
	.rating-avg input[type='radio']:checked ~ label .fa-star {
	  opacity: 1;
	}

	.rating-avg input[type='radio']:checked ~ label .fa-star {
	  color: #f80104;
	}

	.rating-avg .ir {
	  position: absolute;
	  left: -9999px;
	}

/* RATING - Form - Action */
.rating-avg .form-action {
	opacity: 0;
	position: absolute;
	left: 5px; bottom: -40px;
	.transition();
}

.rating-avg input[type='radio']:checked ~ .form-action {
  cursor: pointer;
  opacity: 1;
}

.rating-avg .btn-reset {
	display: inline-block;
	margin: 0;
	padding: 4px 10px;
	border: 0;
	font-size: 10px; font-size: 1rem;
	background: #fff;
	color: #333;
	cursor: auto;
	border-radius: 5px;
	outline: 0;
	.transition();
}

   .rating-avg .btn-reset:hover,
   .rating-avg .btn-reset:focus {
	 background: #ff8e59;
   }

   .rating-avg input[type='radio']:checked ~ .form-action .btn-reset {
	 cursor: pointer;
   }


/* RATING - Form - Output */
.rating-avg .form-output-avg {
	display: none;
	position: absolute;
	right: 15px; bottom: -45px;
	font-size: 30px; font-size: 3rem;
	opacity: 0;
	.transition();
}

.no-js .rating-avg .form-output-avg {
	right: 5px;
	opacity: 1;
}

.rating-avg input[type='radio']:checked ~ .form-output-avg {
	right: 5px;
	opacity: 1;
}
/* END */

.rating_holder {
    margin: 0 0 0 30px;
    width: 260px;
    position: relative;
}
@media (min-width:789px){
	.rating_holder {
	    margin: 0 0 0 30px;
	    width: 800px;
	    position: relative;
	    height: 130px;
	}
}
.rating_holder h5{
   color: #393939;
    font-family: Gotham;
    font-size: 13px;
    font-weight: bold;
    width: 205px;
    margin: 0;
}
@media (min-width:789px){
	.rating_holder h5{
	   	color: #393939;
	    font-family: Gotham;
	    font-size: 14px;
	    font-weight: bold;
	    width: 205px;
	    margin: 0;
	}
}
.rating_holder > span {
    float: left;
    margin: 39px 0 0;
    position: relative;
}
.rating_holder > p {
    color: #393939;
    float: right;
    font-family: Arial;
    margin: -20px 0 0;
    text-align: justify;
    width: 160px;
    font-size: 12px;
}
@media (min-width:789px){
	.rating_holder > p {
	    color: #393939;
	    float: right;
	    font-family: Arial;
	    margin: -28px 0 0;
	    text-align: justify;
	    width: 595px;
	    font-size: 14px;
	}
}
.video_comment{
	width: 290px;
	position: relative;
}
@media (min-width:789px){
	.video_comment{
		width: 657px;
		position: relative;
	}
}
.video_comment h2{
	color: #393939;
	font-family: Gotham;
	font-size: 18px;
}
@media (min-width:789px){
	.video_comment h2{
		color: #393939;
		font-family: Gotham;
		font-size: 26px;
	}
}
.video_comment span{
	color: #f80104;
	font-family: Gotham;
}
.text_area{
	height: 90px;
    margin: 18px 0 0;
    position: relative;
    width: 295px;
    border: 1px solid #d0d0d0;
}
@media (min-width:789px){
	.text_area{
		height: 90px;
	    margin: 18px 0 0;
	    position: relative;
	    width: 658px;
	    border: 1px solid #d0d0d0;
	}
}
.caret_font {
    color: #d0d0d0;
    display: block;
    font-size: 55px;
    left: 12px;
    position: absolute;
    top: 64px;
}
.top_comments h4{
	color: #075eaf;
	font-family: Gotham;
	font-size: 16px;
}
@media (min-width:789px){
	.top_comments h4{
		color: #075eaf;
		font-family: Gotham;
		font-size: 18px;
	}
}
.people_comments{
    height: 90px;
    margin: 0 0 0 20px;
    width: 170px;
}
@media (min-width:789px){
	.people_comments{
	    margin: 0 0 0 20px;
	    width: 530px;
	}
}
.people_comments h5{
	color: #f80104;
	font-family: Gotham;
	font-size:12px;
}
@media (min-width:789px){
	.people_comments h5{
		color: #f80104;
		font-family: Gotham;
		font-size:14px;
	}
}
.people_comments span{
	color: #393939;
	font-family: Gotham;
	font-size: 11px;
}
@media (min-width:789px){
	.people_comments span{
		color: #393939;
		font-family: Gotham;
		font-size: 13px;
	}
}
.people_comments > ul {
    display: flex;
    line-height: 4;
    list-style: outside none none;
     margin: 0px 0 0 -20px;
}
@media (min-width:789px){
	.people_comments > ul {
	    display: flex;
	    line-height: 5;
	    list-style: outside none none;
	    margin: -10px 0 0 -20px;
	}
}
.people_comments li {
    display: block;
    padding: 0 0 0 20px;
    cursor: pointer;
    font-family: Gotham;
    color:#393939;
    font-size: 12px;
}
@media (min-width:789px){
	.people_comments li {
	    display: block;
	    padding: 0 0 0 20px;
	    cursor: pointer;
	    font-family: Gotham;
	    color:#393939;
	    font-size: 14px;
	}
}
.counts {
    float: right;
    width: 70px;
}
@media (min-width:789px){
	.counts {
	 float:left;
   	 width: 95px;
	}
}
.counts span {
    color: #393939;
    font-family: Gotham;
    font-size: 11px;
}
@media (min-width:789px){
	.counts span {
	    color: #393939;
	    font-family: Gotham;
	    font-size: 13px;
	}
}
.comment_wrapper {
    border: 1px solid #d0d0d0;
    height: 110px;
    width: 290px;
}
@media (min-width:789px){
	.comment_wrapper {
	    border: 1px solid #d0d0d0;
	    height: 110px;
	    width: 660px;
	}
}
.photos_holder{
	background-color: #fff;
    height: 505px;
    margin: 29px -17px 0;
    width: 340px;
}
.background_none, .background_none:hover {
	background:none !important;
	color:#000 !important;
	border-radius:0px !important;
	text-decoration:none !important;
    line-height:inherit !important;
}
@media (min-width:789px){
	.photos_holder{
		background-color: #fff;
		height:415px;
		width:340px;
		margin: 29px 0 0;
	}
}
.related_photos {
    margin: 0 0 0 0px;
}
@media (min-width:789px){
	.related_photos {
    	margin: 0 0 0 22px;
	}
}
.related_photos h2{
	color: #393939;
    font-family: Gotham;
    font-size: 18px;
}
@media (min-width:789px){
	.related_photos h2{
		color: #393939;
	    font-family: Gotham;
	    font-size:30px;
	}
}
.related_img1 {
    text-align: center;
}
.related_img1 img{
	width:300px;
	height:250px;
	margin: 15px 0 0;
}
@media (min-width:789px){
	.related_img1 img{
		width:320px;
		height:250px;
		margin: 15px 0 0;
	}
}
.related_img2 > ul {
    display: flex;
    list-style: outside none none;
    margin: 30px 0 0 0px;
}
.related_img2 li img {
	height:98px;
	width:100px;
	margin: 0 0 0 10px;
}


.footer span {
    color: #000;
    float: left;
    font-family: Arial;
    font-size: 9px;
    font-weight: bold;
    left: 4px;
    position: relative;
    top: 13px;
}
@media (min-width:789px){
	.footer span {
	color: #000;
    float: left;
    font-family: Arial;
    font-size: 13px;
    position: relative;
    top: 20px;
    left: 20px;
    font-weight:bold;
	}
}


.footer {
    bottom: 0;
    height: 30px;
    position: relative;
    text-align: center;
    width: 100%;
}


.footer p {
    color: #000;
    font-weight:bold;
    float: right;
    font-family: Arial;
    margin: 0;
    position: relative;
    top: 12px;
    right: 10px;
    font-size:11px;
}
@media (min-width:789px){
	.footer p {
	color: #000;
    font-weight:bold;
    float: right;
    font-family: Arial;
    margin: 0;
    position: relative;
    top: 20px;
    right: 20px;
    font-size: 13px;
	}
}




.footer > p > a {
	text-decoration:none;
	font-weight: bold;
	color: #000;
}
.ec-comment-form fieldset legend {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    font-family: Arial;
    font-size: 12px;
    padding: 0 5px;
    width: 250px;
}
@media (min-width:789px){
	.ec-comment-form fieldset legend {
	    background: transparent none repeat scroll 0 0;
	    border: medium none;
	    border-radius: 0;
	    font-family: Arial;
	    font-size: 14px;
	    padding: 0 5px;
	    width: 550px;
	}
}
.ec-comment-form textarea {
    border: 1px solid #d0d0d0;
    width: 260px !important;
}
@media (min-width:789px){
	.ec-comment-form textarea {
	    border: 1px solid #d0d0d0;
	    width: 550px !important;
	}
}
.ec-comment-form button {
    background: #fdbc41 none repeat scroll 0 0;
    border-radius: 7px;
    color: #510707;
    font-family: Arial !important;
    height: 23px;
    position: relative;
    top: 36px;
    width: 90px;
    float: left;
}
@media (min-width:789px){
	.ec-comment-form button {
	    background: #fdbc41 none repeat scroll 0 0;
	    border-radius: 7px;
	    color: #510707;
	    font-family: Arial !important;
	    height: 23px;
	    position: relative;
	    top: 36px;
	    width: 90px;
	    float: right;
	}
}
.ec-total {
    width: 265px;
    font: 1.1em/24px Arial !important;
}
@media (min-width:789px){
	.ec-total {
	    width:380px;
	    font: 1.1em/24px Arial !important;
	}
}
.ec-comment-form input {
    border: 1px solid #b4b4b4;
    height:32px;
    width: 257px !important;
    margin: -11px 0 11px;
}
@media (min-width:789px){
	.ec-comment-form input {
	    border: 1px solid #b4b4b4;
	    height:32px;
	    width: 550px !important;
	    margin: -11px 0 11px;
	}
}
.desc_img img{
	 box-shadow: 5px 5px 6px #aeaeae;
}
/* End index page */

/* Form Page */
.contest_wrapper {
	background: rgba(0, 0, 0, 0) url("../images/bg.png") no-repeat scroll center center / cover ;
	height: 100%;
    width: 100%;
}
.container_form{
	left: 50px;
    position: relative;
    width: 825px;
    top: 8%;
}
.container_form h2 {
	color: #000;
    font-family: Gotham;
    margin: 45px 0 0;
    text-align: left;
    font-weight: bold;
}
.container_form h2 b{
	color: #f80104;
	font-family: Gotham;
}
.form-box label {
    color: #000;
    font-family: Gotham;
}
.form_align{
	width:324px;
	height: 32px;
	border:1px solid #b4b4b4;
}
.form-box {
    margin: 30px 35px 0px 0px;
}
.form-box textarea{
	border:1px solid #b4b4b4;
	width:325px;
	height:85px;
}
.btn-style{
	background: #fdbc41 none repeat scroll 0 0;
    border-radius: 5px;
    color: #510707;
    font-family: Gotham;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    width: 113px;
}
.photos_upload {
	margin:20px 0px 0px 0px;
}
.social_links{
	list-style-type: none;
}
.face{
	background:url("../images/facebook.png") no-repeat;
	height: 28px;
    width: 30px;
}
.yt{
	background:url("../images/youtube.png") no-repeat;
	height: 28px;
    width: 30px;
}
.tw{
	background:url("../images/twitter.png") no-repeat;
	height: 28px;
    width: 30px;
}
.visitor_count img {
    height: 25px;
   	width: 100px;
}
.visitor_count {
    left: 35px;
    position: relative;
    top: 40px;
    cursor: default;
}
.visitor_count > a {
    color: #000;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    cursor: default;
    text-decoration:none;
}
/*.upload_selfie{
	 background: #000 none repeat scroll 0 0;
    box-shadow: none;
    height: 33px;
    width: 130px;
}*/
/*.photos_upload button {
    background: #fdbc41 none repeat scroll 0 0;
    height: 33px;
    width: 130px;
    font-family: Gotham;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    color: #510707;
    position: relative;
    top: -33px;
}*/

.idp_shoe_gallery {
	 float: left;
	 position: relative;
	 left: 13px;
 
}
@media (min-width:789px){
	.idp_shoe_gallery {
	 float: left;
	 position: relative;
 		left:auto;
	}
}
.idp_shoegallery_display {
 float: left;
 width: 480px;
 height: 360px;
}
.idp_views_tab {
 width: 340px;
 float: left;
 padding: 30px 0px 0px 0px;
 margin: 0px 0px 20px 0px;
}

.idp_color_tab h3,.idp_views_tab h3 {
 font-family: Arial;
 font-size: 14px;
 font-weight: bold;
 color: #4c4c4c;
 border-top: 1px solid #eeeeee;
 padding: 17px 0px 0px 0px;
 text-transform: uppercase;
 margin: 0px 0px 5px 0px;
}

.idp_color_tab a {
 width: 40px;
 height: 30px;
 display: block;
 float: left;
 margin: 10px 0px 0px 0px;
 cursor: pointer;
}

.idp_views_tab a {
 width: 40px;
 height: 39px;
 display: block;
 float: left;
 margin: 0px 0px 0px 0px;
 padding: 0px 3px 0px 0px;
 cursor: pointer;
}

.idp_right_col {
 float: left;
 width: 403px;
 margin: 0px 0px 48px 55px
}

.idp_right_col h2 {
 font-family:Arial;
 font-size:14px;
 color:#4c4c4c;
 font-weight:bold;
    padding:20px 0px !important;
 margin:0px !important;
}

.item_size_holder {
 width: 403px;
 margin: 0px 0px 0px 0px;
 
}

.item_size_holder ul {
 width: 399px;
 float:left;
 border-bottom:1px solid #eeeeee;
 margin:0px 0px 20px 0px;
}

.item_size_holder ul li {
 width:41px;
 height:36px;
 float:left;
 color:#444444;
 font-size:12px;
 font-family:Arial;
 font-weight:normal;
}
.item_size_holder ul li span {
 border:1px solid #dbdbdb;
 border-radius:5px;
 cursor:pointer;
 margin:0px 9px 9px 0px;
 width:29px;
 height:23px;
 display:block;
 text-align:center;
 line-height:24px;
 padding:1px 0px 0px 0px;
}
.size_active {
 background:#4d4d4d !important;
 color:#fff !important;
 border:1px solid #000 !important;
}
.item_size_holder ul li:hover span {
 background:#fafafa;
 -moz-box-shadow: 2px 0px 3px rgba(0,0,0,0.07);
  -webkit-box-shadow: 2px 0px 3px rgba(0,0,0,0.07);
  box-shadow: 2px 0px 3px rgba(0,0,0,0.07);
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#cccccc',direction='135',strength='3');

}
.dont_see_size_btn { width:auto !important; }
.dont_see_size_btn span {
 padding:0px 10px 0px 10px !important;
 display:block;
 width:auto !important;
} 
.size_not_available {
 color:#cccccc !important; 
}
.item_size_holder ul li b.add_cart_freeshipping {
 font-family: Arial;
 font-size: 12px;
 font-weight: bold;
 color: #d22e2e;
 
}

.item_size_holder ul li i {
 display: block;
 font-family: Arial;
 font-size: 10px;
 font-weight: normal;
 color: #4e4949;
 font-style: normal;
 padding: 2px 0px 0px 0px;
}

.custom_size {
 float: right;
 margin: 0px 58px 0px 0px; #
 margin: 0px 52px 0px 0px;
 margin: 0px\9 52px\9 0px\9 0px\9;
}

.send_to_friend {
 float: left;
 margin: 5px 0px 0px 0px !important;
}

.custom_size a,.send_to_friend a {
 font-family: Arial;
 font-size: 10px;
 font-weight: normal;
 color: #d22e2e;
 float: left;
 display: block;
 text-decoration: none;
}

.custom_size span,.send_to_friend span {
 font-family: Arial;
 font-size: 10px;
 font-weight: normal;
 color: #d9d9d9 !important;
 float: left;
 display: block;
 padding: 0px 10px 0px 10px !important;
}

.item_size_holder ul li a:hover.idp_add_to_cart_btn {
 background: #9e2323;
}

.idp_add_to_cart_btn {
 font-family: Arial;
 font-size: 18px;
 font-weight: bold;
 color: #fff;
 display: block;
 background: url(../images/add_cart_bg.jpg) repeat-x;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 width: 125px;
 height: 61px;
 float: left;
 margin: 0px 0px 0px 0px;
 padding: 0px 19px 0px 19px;
 text-transform: uppercase;
 text-decoration: none;
 line-height:61px;
 cursor:pointer;
}
.selected_item_info { float:left; font-family:Arial; }
.selected_item_info ul { margin:0px 0px 0px 19px; }
.selected_item_info ul li {
 font-size:14px;
 color:#666666;
 padding:0px 0px 8px 0px;
}
.selected_item_info ul li b { color:#444444; }
.item_size_holder ul li a:hover.idp_addwhislist_btn {
 background: #7d7d7d;
}

.idp_addwhislist_btn {
 font-family: Arial;
 font-size: 10px;
 font-weight: bold;
 color: #fff;
 display: block;
 background: #b1b1b1;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 width: 93px;
 height: 11px;
 float: left;
 margin: 30px 0px 0px 20px;
 text-transform: uppercase;
 padding: 5px 8px 5px 10px;
 text-decoration: none;
}

.idp_wishListItemAdded {
 font-family: Tahoma;
 font-size: 12px;
 font-weight: bold;
 color: #4AA02C;
 display: none;
 margin: 30px 0px 0px 160px;
 
}

.latest_updates {
 margin: 18px 0px 0px 0px;
 border-top:1px solid #eeeeee;
}

.latest_updates h2 {
 font-family: Arial;
 font-weight: bold;
 font-size: 14px;
 color: #4c4c4c;
 line-height: 14px;
 padding:20px 0px 7px 0px !important;
}

.latest_updates p {
 font-family: Arial;
 font-size: 12px;
 font-weight: normal;
 color: #666666;
 line-height: 18px;
 padding: 0px 0px 15px 0px;
}
.latest_updates a {
 color:#666666; 
}
.latest_updates a:hover { text-decoration:none; }
.idp_color_tab { border-bottom:1px solid #eeeeee; padding:0px 0px 5px 0px; }
.color_gallery span, .view_gallery span {
 cursor: pointer;
 float: left;
 padding: 0px 0px 0px 0px;
 margin:0px 2px 4px 0px;
 border:1px solid #fff;
}
.view_gallery span {
 opacity: 0.3;
 filter: alpha(opacity = 30);
}
.view_glallery_opacity { opacity:1 !important; filter:alpha(opacity = 100) !important; }
.color_tab_hover { 
 border:1px solid #dbdbdb !important; 
 border-radius:3px;
 -moz-box-shadow: 2px 0px 3px rgba(0,0,0,0.07);
  -webkit-box-shadow: 2px 0px 3px rgba(0,0,0,0.07);
  box-shadow: 2px 0px 3px rgba(0,0,0,0.07);
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#cccccc',direction='135',strength='3'); 
}
.color_gallery div,.view_gallery div {
 position: absolute;
 top: 10px;
 right: auto;
 left: 0px;
 display: none;
}
.color_gallery div { top:92px !important; left:10px !important;}

.view_gallery div {
 display: none;
}
.view_gallery div img {
 position:relative;
  z-index:100 !important;
}
.color_gallery div h3 {
 position: absolute;
 background: url(../images/zoom_bg.jpg) no-repeat;
 width: 77px;
 height: 26px;
 left: -75px;
 top: 227px;
 color: #fff;
 padding: 8px 0px 0px 8px;
}

.view_gallery h3 {
 position: absolute;
 background: url(../images/zoom_bg.jpg) no-repeat;
 width: 77px;
 height: 26px;
 left: 30px;
 top: 437px;
 color: #fff;
 padding: 8px 0px 0px 8px;
}

#product_angle {
	 background: #fff;
	 margin: auto;
	 clear: both;
     width: 312px;
}
@media (min-width:789px){
	#product_angle {
	 background: #fff;
	 margin: auto;
	 clear: both;
	 width: auto;
	}
}
#product_angle img {
    margin-top: 10px;
    left: -12px;
    position: relative;
}
@media (min-width:789px){
	#product_angle img {
 		margin-top: 10px;
 		left: auto;
    	position: relative;
	}
}
.add_to_cart_reviews {
 margin: 10px 0px 0px 0px;
}

.add_to_cart_reviews span {
 float: left;
 font-family: Arial;
 font-size: 10px;
 font-weight: bold;
 color: #4e4949;
 padding: 5px 15px 0px 0px;
}

.rating_display {
 float: left;
}

.rating_display code {
 float: left;
 background: url(../images/icon_set.png) 0px -265px no-repeat;
 height: 17px;
 width: 18px;
 padding: 0px 0px 0px 2px;
}

.rating_display code.review_selected {
 float: left;
 background: url(../images/icon_set.png) 0px -135px no-repeat;
 height: 17px;
 width: 18px;
 padding: 0px 0px 0px 2px;
}

.idp_reviews_area {
 padding: 0px 0px 0px 0px;
}

.idp_reviews_area h3 {
 font-family: Arial;
 font-size: 14px;
 font-weight: bold;
 color: #4e4949;
 padding: 7px 0px 7px 0px;
 float:left;
}
.review_header {
 border-top: 1px solid #eeeeee;
 border-bottom: 1px solid #eeeeee;
}
.load_review {
 line-height:37px;
 background:#4d4d4d;
 border-radius:3px;
 text-align:center;
 font-family:Arial;
 font-size:14px;
 color:#fff;
 font-weight:bold;
 margin:0px 0px 40px 0px;
}
.review_header .rating_display { float:right; margin:5px 10px 0px 0px;}
.rating_display span {
 float:left;
 font-family:Arial;
 font-size:12px;
 color:#4e4949;
 font-weight:normal;
 padding:4px 0px 0px 0px;
 margin:0px 13px 0px 0px;
}
.idp_reviews_area  ul {
 width: 940px;
}

.idp_reviews_area ul li {
 border-bottom: 1px solid #eeeeee;
 padding: 25px 0px 25px 0px;
}

.review_rating_col {
 width: 290px;
 float: left;
}

.review_rating_col h3 {
 float: left;
 font-family: Arial;
 font-size: 12px;
 font-weight: bold;
 color: #4c4c4c;
 border: none;
 text-transform: uppercase;
}

.review_description_col {
 float: left;
 width: 649px;
}

.review_description_col p {
 font-family: Arial;
 font-size: 12px;
 font-weight: normal;
 color: #666666;
 line-height: 18px;
 margin: 0px 0px 0px 50px;
}

.rating_form_holder {
 width: 940px;
 margin: 0px 0px 80px 0px;
}

.rating_form {
 width: 940px;
}

.rating_form ul {
 margin: 30px 0px 0px 0px;
}

.rating_form ul li {
 float: left;
}

.rating_form ul li label {
 display: block;
 font-family: Arial;
 font-size: 10px;
 font-weight: bold;
 color: #4e4949;
 padding: 0px 0px 9px 0px;
 text-transform: uppercase;
}

.rating_input_field {
 width: 278px;
 background: url(../images/input_feild_bg.jpg) repeat-x;
 height: 15px;
 border: 1px solid #d9d9d9;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 margin: 0px 0px 20px 0px;
 padding: 2px 0px 2px 2px;
}

#review_rating {
 cursor: pointer;
}

.rating_form ul li.rating_form_rt_col {
 margin: 0px 0px 0px 58px;
}

.rating_text_area {
 background: url(../images/input_feild_bg.jpg) repeat-x;
 width: 592px;
 height: 71px;
 border: 1px solid #d9d9d9;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 padding: 2px 0px 2px 2px;
 font-family: Arial;
}

.rating_submit_btn {
 display: block;
 background: #d22e2e;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 color: #fff;
 font-family: Arial;
 font-size: 10px;
 font-weight: bold;
 float: left;
 width: 97px;
 height: 21px;
 border: none;
 cursor: pointer;
 margin: 35px 0px 0px 0px;
}

.rating_submit_btn:hover {
 background: #9e2323;
}

.check_box {
 margin: 40px 10px 0px 10px; #
 margin: 35px 10px 0px 10px;
 margin: 35px\9 10px\9 0px\9 10px\9;
 float: left;
}

.rating_form_rt_col span {
 padding: 40px 10px 0px 0px;
 display: block;
 float: left;
 font-family: Arial;
 font-size: 10px;
}
.view_gallery {
    max-height: 200px;
    overflow-y: scroll;
}
.ec-comment-form fieldset{
	background: transparent !important;
}
@media (min-width:789px){
	.ec-comment-form fieldset{
		background: rgba(0, 0, 0, 0) linear-gradient(#ffffff, #dddddd) repeat scroll 0 0 !important;
	}
}
.ec-comment-pane{
	margin: 35px 0 !important;
    padding-left: 20px;
    position: relative;
}
@media (min-width:789px){
	.ec-comment-pane{
		margin: 5px 0 !important;
	    padding-left: 20px;
	    position: relative;
	}
}
.single_social_share{
    padding: 15px 0;
    text-align: center;
    color: #fff;
}
.facebook a{
    color: #fff;
    font-size: 20px;
    width: 47px;
    line-height: 47px;
    background: #3A5795;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}
.twitter a{
    color: #fff;
    font-size: 20px;
    width: 47px;
    line-height: 47px;
    background: #2CAAE1;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}
.youtube a{
    color: #fff;
    font-size: 20px;
    width: 47px;
    line-height: 47px;
    background: #CC181E;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}
/*.single_social_share a:hover{
    background: rgba(255,255,255,.2);
}*/
.social_share_logo_right{
    overflow: hidden;
}
.social_share_logo_right .col-md-4:nth-child(1) .single_social_share{
    background: #3b59a1;
}
.social_share_logo_right .col-md-4:nth-child(2) .single_social_share{
    background: #46b0e4;
}
.social_share_logo_right .col-md-4:nth-child(3) .single_social_share{
    background: #dd4c39;
}
.single_social_share span{
    margin-top: 20px;
    font-size: 15px;
    display: block;
     color: #000;
}
.image_poster,.image_info{
	cursor:pointer;
}
#image-holder {
	width:100px;
	height:100px;
}
#image-holder img{
	height:100%;
	width:100%;
}
#signupform { 
    padding-left: 40px;
     font-size: 15px;
  
}
#signUpText {    
  font-family: Monaco, Verdana, Sans-serif; 
    font-size: 13px;
}
input{
   font-size: 15px;
 
}

.status {

    color:crimson;
    font-family: arial,helvetica,sans-serif;
    font-size:14px;

}